<style type="text/css">
	ul>li{
		color:red;<!--ParentChildRelations-->
	}
	ol>li{
		font-variant:small-caps;<!--AncestralDescendantsRelations-->
	}
	img{
		width:100px;
		height:100px;
	}
	img[src$='.gif']{
		border:1px solid red;
	}
</style>